:root {
    --primary-text-color: #2E2F42;
    --background-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --l-gra: linear-gradient(rgba(46, 47, 66, 0.7)); 
}

/*---------fonts------*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    
    
}

@media  screen and (max-width: 480px), (max-width: 779px) {

.container {
    max-width: 480px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px auto;
  }
/*---------text no point-----*/
.link {
    text-decoration: none; 
    display: block;
 }

 /*---------container -----*/
 

/*-----------header------------*/
.header-navigation{
    display: flex;
    justify-content: space-between;
}
 .header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
    
}
.header-logo {
    
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    padding-bottom: 25px;
    padding-top: 25px;
    }

.logo-web {
    color: #4D5AE5; 
    font-family: 'Raleway';
 font-weight: 800;
 font-size: 18px;
 line-height: 1.33;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 margin-left: 16px;

 }   

.svg-menu{
    padding-right: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}
 
 .div-header-container {
    display: flex;
    justify-content: space-between;
 }


        .header-list {
            display: none;
          }
             
          .header-item {
             display: none;
          }
          
             .adress {
                 display: none;
              }  
    

    
    /*   menu   */

    .container-mob {
        max-width: 346px;
        padding-left: 16px;
        padding-right: 16px;
       

    }
    .but-menu{
    padding: 16px 32px;
    }
  
    .mob-menu {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        background-color:  #FFFFFF;;
        padding-top: 48px;
        padding-bottom: 48px;
    }
 .container-mob {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .menu-close {
        display: block;
        margin-left: auto;
        margin-bottom: 16px;
        margin-top: 40px;
    }
    
    .menu-container-item:not(:last-child) {
        margin-bottom: 40px;
       
    }
   
    .menu-container-link {
 font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
letter-spacing: 0.02em;
text-transform: capitalize;
text-decoration: none;
color: #2E2F42;
    }

   

.menu-container-list{
    margin-top: 24px;
}
.menu-mail {
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
color: #434455;
display: flex;

    }

    .open-menu {
        padding: 15px 30px;
    }

    .flexx {
        display: flex;
        justify-content:space-between;
        }

        .open-menu {
    
        margin-left: 0 auto;
        }
        
    .menu-tel {
        padding: 0px auto;
font-weight: 600;
font-size: 29px;
line-height: 40px;
/* identical to box height, or 111% */
text-transform: capitalize;
color: #4D5AE5;
margin-bottom: 40px;
    }

    /* mob mrnu */
    .is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .button-menu {
        background-image: url(../images/mob-menu/mobmenu.svg);
    }

    .menu-close {
        padding: 16px 32px;
    }
/*------section 1------hero-----------*/

.section {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
     padding: 112px 0;
     text-align: center;
     background-image:linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
      url(../images/front/homemobole.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}  




.hero {
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-weight: 700;
    line-height: 1.07;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    
    }

      
 /* ----  button order -- */ 

 .button {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
background: #4D5AE5;
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
border: none;
border-radius: 4px;
padding: 16px 32px;
margin-bottom: 112px;
margin-top: 72px;
}    


    /* ----  section strategi -- */ 
    
    .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }

    .list {
        display: block;
        list-style: none;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
   
    .strat-fon {
        display: none;
        
    }
   
    .feature-text {
        text-align: left;
      
       
    }
 
    .feature { 
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        font-weight: 500;
        margin-bottom: 8px;
        align-items: center;
        margin-top: 72px;
        text-align: center;
        margin-top: 32px;
        
        }

        .feature-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455  ;
        align-content: center;
       
        }

       /* --section 3--- doing --- */

        .doing {
            display: none;
        }

        /* section 4 Team */ 
        .team {
            background-color: #F4F4FD;
            
        }

        .capital {
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            padding-top: 96px;
            padding-bottom: 72px;
            
        }

        .fon-imag {
            widows: 32px;
            background-color: #FFFFFF
            ;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
       
            
        }
        .fon-imag:not(:last-child) {
            margin-bottom: 72px; }


        .team-div {
       
        text-align: center;
                    }

   .our-team {
   padding-bottom: 128px;
   }   
   
   .fon-imag {
    width: 264px;
   }
                
/*

     
        /*  ----- OUR TEAM ---
        */
        .social-list {
        display: flex;
        justify-content: center;
        gap: 36px;
        }
        .gap-al {
            text-align: center;
            gap: 24px;
            margin: 0px auto;
           
           justify-content: center;
           padding-bottom: 32px;
           padding-left: 0;
        }
       
        .social-item {
            width: 40px;
            height: 40px;
            
        }

        .social-link {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #4D5AE5;
            text-align: center;
        }
        .social-link:is(:hover, :focus) {
            background-color: #404BBF;
        }
    
        .bord-soc-icon {
            fill: chartreuse;
            text-align: center;   
        }


        /* ------- section 5 customers ----*/

        .test {
            padding-top: 96px;
            padding-bottom: 96px;
           
        }
      
        .test-h2 {
        justify-content: center;
        display: flex;
        margin-bottom: 72px;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        }
        .test-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            padding: 0;
        }
      
        .test-item {
            width: 168px;
            height: 88px;
        }
        .test-link {
            width: 100%;
            height: 100%;
            border: 1px solid #8E8F99;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #8E8F99;
        }
        
        .test-link:hover,
        .test-link:focus {
            border-color: #404BBF;
            color: #404BBF;

    }
     
        .test-icon {
            fill: currentColor ;
        }
        /* --- footer ---- */
        .footer {
            background-color: #2E2F42;   
        }  
        .div-footer {
            display: block;
        }
        .footer-logo {
            padding-top: 0px;
            padding-bottom: 0;
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            color: #F4F4FD;
            text-transform: uppercase;
        }
    .foot-web {
            color: #4D5AE5;
        }
        .footer-text {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #E7E9FC;
            margin-top: 16px;
            width: 264px;   
            justify-content: center;
            align-items: center; 
            text-align: justify;     
 }
        .foot-t {
            text-align: center;
            padding-top: 96px;
            padding-bottom: 72px;
           
            
        }
        .social-div {
          text-align: center;
          padding-bottom: 72px;
        }
        .foot-soc-text {
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
        }
        .foot-ul {
            display: flex;
            gap: 16px;
            margin-top: 16px;
            list-style: none;
            text-align: center;
            justify-content: center;
            padding: 0;
        }
        .foot-li {
            width: 40px;
            height: 40px;
            justify-content: center;
          
        }
        .foot-a {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color:rgba(255, 255, 255, 0.1);
        }
        
.footer-text {
    text-align: center;
    display: block;
    list-style: none;
    margin-left: 65px;
}

/*     mail input   */

.input {
    background-color: #2E2F42;
    color: rgba(255, 255, 255, 0.3)
    ;
    border-color: rgba(255, 255, 255, 0.3)
    ;
    border-radius: 4px;
    width: 356px;
    height: 40px;
    padding-left: 15px;
}
.but-sub {
   
    margin-top: 16px;
    margin-bottom: 96px;
}

.flexx{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;  
}

/*    subscribe    */ 
.subscribe-div{
   
    text-align: center;
}

.button-subscribe {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}    

.button-subscribe {
font-family: inherit;
background: #4D5AE5;
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
border: none;
border-radius: 4px;
padding: 16px 32px;
margin-bottom: 112px;
margin-top: 72px;
}
        /* ----- mobal backdrop + owerflow y scrol -*/

        .backdrob {
            
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(46, 47, 66, 0.4);
        }
    
        .modal {
            border-radius: 4px;
display: block;
            width: 392px;
            
            padding: 16px;
            margin: 96px 18px  96px 18px;
            background-color: #FCFCFC;
            border: 5px;
            position: absolute;
            top: 40%;
            left: 45%;
            transform: translate(-50%, -50%);
            overflow-y: scroll;
        }
        .backdrob.is-hidden{
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
        .modal-button {
            width: 24px;
            height: 24px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: #2f3ec4;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            padding: 0;
        } 


        /* modal order  */

        .modal-h{
            font-family: Roboto; 
            font-style: Medium;
            font-size: 16px;
            line-height: 128%;
            text-align: center;
            
            padding-bottom: 16px;
        }

        .modal-box{
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 72px;
        }
     .modal-box:not(:last-child) { margin-bottom: 40px; }
      
     .order-input {
        padding-left: 50px;
    height: 40px;
    width: 100%;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: #FCFCFC;
     }

    .modal-icon{
        position: absolute;
        left: 3px;
        bottom: 12px;
      
    } 
    .input-wrap{
        position: relative;
    }

    .modal-textarea-text{
        color: #8E8F99;
    }
     .order-input-send {
box-sizing: border-box;
width: 360px;
height: 120px;
left: 0px;
top: 218px;
border: 1px solid rgba(33, 33, 33, 0.2);
padding-top: 8px;
    padding-left: 16px;
    margin-top: 4px;
    border-radius: 4px;
    resize: none;
 
     }
     .order-input-send::placeholder {}

     .send {
margin: 0px auto;
padding-right: 111px; 
display: block;
font-family: inherit;
background: #4D5AE5;
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
border: none;
border-radius: 4px;
padding: 16px 32px;
margin-bottom: 112px;
margin-top: 72px;
width: 169px;
height: 56px;
left: 129px;
top: 602px;

     }

     .label-name{
        margin-bottom: 5px;
        display: block;
     }

     .span-name{

        color: #8E8F99;
        margin-top: 4px;
        font-size: 12px;
        font-family: Roboto;
        line-height: 114%;
     }
     /*   PORTFOLIO  */

     /* buttons */

    .but-portfolio {
        display: flex;
        gap: 24px;
    }
    .button-portfolio{
        cursor: pointer;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        font-weight: 500;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }    
    
    .button-portfolio {
    font-family: inherit;
    background: #4D5AE5;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin-bottom: 112px;
    margin-top: 72px;
    }

    /*   spisok  */

  
    .blank:not(:last-child) { margin-bottom: 48px; }

    .feature-li {
        box-sizing: border-box;
        border: 0.5px solid #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .cover-text {
        display: none;
    }
    
    .feature {
        text-decoration: none;
    }
   
    .header-list{
        display: none;
    }

    .modal-bytton{
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: #E7E9FC;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0;
        margin: 8px;
      
      }
      .modal-bytton:hover,
     .modal-bytton:focus{
        background-color: #404BBF;
        color: #FFFFFF;
      }

      .sectionone{
        padding: 0px;
      }

      .subscribe-p{
        size: 16px;
        color: #FFFFFF;
        
      }


      /* checkbox */
.accept-lab{
      color: #757575;
    font-size: 12px;
    display: flex;
    gap: 8px;
}

 /*  new */
 .order-input{
    padding-left: 50px;
      height: 25px;
    width: 100%;
   border-color:  rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: #FCFCFC;
  
    transition-duration: 300ms;
    transition-timing-function: linear;
    
  }
  
  .order-input:focus{
      border-color: #4D5AE5;
  }
  .order-input:focus+.modal-icon{fill: #4D5AE5;}
  
  .order-input-send {
    background-color: #FCFCFC;
    padding-top: 8px;
    padding-left: 16px;
    resize: none;
    margin-top: 4px;
    width: 360px;
   height: 120px;
    width: 100%;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  
  .modal-icon{
    position: absolute; 
   transition-duration: 300ms;
   transition-timing-function: linear;
    width: 13px; 
    height: 13px;
    margin-top: 13px;
    margin-left: 16px;
 
  }
  .label-name{
      margin-bottom: 8px;
      display: block;
      transition-duration: 300ms;
      transition-timing-function: linear;
  }
  .span-name{
      
      color: #8E8F99;
      margin-top: 4px;
      font-size: 12px;
      font-family: Roboto;
      line-height: 114%;  
  }
  
  .visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap; /* 1 */
  }
  
  .accept-lab{
   color: #757575 ;
   font-size: 12px;
   display: flex;
   gap: 8px;
   
  }
  .accepy-span {
      margin-left: 8px;
      border-radius: 0px
      var(--background-color);
  }
  .accept-lab::before{
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid 
      #2E2F42;
      display: block; 
  }
  
  .modal-check:checked + .accept-lab::before{
      background-color: #4D5AE5;
      border: none ;
      background-image: url(../Vector.svg);
      background-repeat: no-repeat;
      background-position: center;
  }
  
  .modal-h{
    margin-top: 72px;
    
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
  }
  .a-policy {
      color: #4D5AE5
      ;
  }
  .send {
      font-family: inherit;
      background: #4D5AE5;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 1.5;
      min-width: 169px;
      border: none;
      border-radius: 4px;
      padding: 16px 32px;
      color: #FFFFFF;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
      margin-top: 24px;
      cursor: pointer;
      font-weight: 500;
     
  }
  
  .div-but-send {
      text-align: center;
  }
  
  .input-wrap {
      margin-top: 4px;
      
      
  }
  
  .modal-textarea-text {
      font-size: 12px;
      color: #8e9991
      ;
  }
  
  .order-input-send{
      font-size: 12px;
  }
 
  .order-input {
      height: 40px;
  
  }
  .div-textarea {
      margin-bottom: 16px;
  }
  
  /* Subscribe */
  .div-sub{
      margin-left: auto;
  }
  .h2-subscribe {
      color: #FFFFFF;
  
      font-size: 16px;
     
      margin-bottom: 16px;
  }  
  .onlin-subsc {
      display: flex;
  }
  .input-subscribe {
      width: 264px;
      height: 40px;
      color: rgba(255, 255, 255, 0.3);
      background-color: #2E2F42;
      border-radius: 4px ;
      border-color: rgba(255, 255, 255, 0.3) ;
      padding-left: 16px;
      
  }
  .but-subscribe{
      cursor: pointer;
      background-color: #4D5AE5;
      width: 165px;
      height: 40px;
      padding: 8px 24px;
      margin-left: 24px;
      border-radius: 4px;
      display: flex;
      gap: 16px;
      color: #FFFFFF;
      border: none;
      font-style: Button Text;
      font-style: Regular;
      font-weight: 500;
  }
  
  .svg-subscribe{
      position: absolute;
     
  }
  
  .use-svg-modal{
      width: 12px;
      height: 12px;
  }

  

  /* portfolio button   */
  .ul-but-portfolio{
    display: block;
   
  }
  .portfolio-div-but{
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
  }
.button-portfolio{
    margin: 0px auto;
    background-color: #F4F4FD;
    color: #4D5AE5;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    border: 1px solid #E7E9FC
    ;
    box-shadow: none;
}


/* ul and li portfolio Banking and td */

.blank{
    margin-top: 40px;
    padding-left: 0;
}
.feature-li:not(:last-child) { margin-bottom: 48px; }
.feature-li{
    padding: 16px;
}
.all{
    text-decoration: none;
    list-style: none;
    color: #2E2F42;
}
.feature{
    display: flex;
}


/* header mob */
.header-navigation{
    display: flex;
 
}

.div-logo-foter{
   
    text-align: center;
}

.footer-logo{
    padding-top: 96px;
  
}
.footer-text{

    text-align: justify;
   

 }
 .h2-subscribe{
    text-align: center;
 }
 .onlin-subsc{
    display: block;
    
    
 }
 .input-subscribe{
    width: 100%;
    margin-bottom: 16px;
    
 }
 .div-but-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .footer{
    padding-bottom: 96px;
 }
.mob-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-text{
    margin-bottom: 64px;
}

.feature-text-product-icon{
    margin-bottom: 8px;
}
.menu-container-link:hover{
    color: #404BBF;
}
.menu-container-link:focus{
    color: #404BBF;
}
.adress-menu{
    margin-bottom: 48px;
}
.ul-but-portfolio {
    gap: 24px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-right: 30%;
   
  
  }
.ul-but-portfolio {
    display: flex;
    align-items: flex-start;
  }

  /*
  .ul-but-portfolio li {
    flex: 1;
  }
  */
.cardss{
  
}
  .feature{
    color: #2e2f4231
    ;
    align-items: flex-start;
    display: flex;
  }
  .feature-text{
    margin-top: 8px;
    margin-bottom: 17px;
  }
  
.mob-between{
    display: flex;
    justify-content: space-between;
}

  .svg-menu{
    
    margin-left: 270px;
  }
  .blank{
    margin-bottom: 48px;
  }
  .svg-menu{
    display: flex;

  }
  .feature { 
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;
    margin-bottom: 8px;
    align-items: center;
    margin-top: 72px;
    text-align: center;
    margin-top: 32px;
    justify-content: center;
    
    }
  .our-team{
    padding-left: 20%;
  }
  .fon-imag{
    
  }
  .button-portfolio:hover{
    color: #FCFCFC;
    background-color: #404BBF;

}
.button-portfolio:focus{
    color: #FCFCFC;
    background-color: #404BBF;

}
.all{
    padding: 0;
}
.feature-li{
    width: 396px;
    padding: 0;
}
.img-portf{
  
}
.img-portf{
    width: 100%;
}
.cardss {
    padding: 32px 16px;
}

.feature{
    justify-content: center;
}
.feature-port{
    justify-content: start;
 }
 .feature-port:hover{
color: #8E8F99;
 }
 .feature-port:focus{
    color: #8E8F99;
     }
     .social-list{
    margin-top: 8px;
}
.button{
    margin-bottom: 0px;
}
.container{
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}
.container-responsive{
    max-width: 1140px;
}
}