/*

:root {
    --primary-text-color: #2E2F42;
    --background-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --l-gra: linear-gradient(rgba(46, 47, 66, 0.7)); 
}
/*---------fonts------*/

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: var(--primary-text-color);
        background-color: var(--primary-bg-color);
        
}
/*---------text no point-----
.link {
    text-decoration: none; 
    display: block;
    
  
 
 }
 


 .header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .list {
     list-style: none;
 }
/*-----------header------------

.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   
    
}


.header-item:focus,
.header-item:hover {
    color: #404BBF;
    
}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
position: relative;
padding-top: 24px;
  padding-bottom: 24px;

}

.header-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
   position: absolute;
   left: 0;
   bottom: 0;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
  

}

.header-link:hover::after {
    transform: scaleX(1);
    opacity: 1;
}


.header-mail { 
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

}

.header-mail:focus {
    color: #404BBF;
}

.header-mail:hover {
    color: #404BBF;
}
.header-tel {
font-size: 16px;
line-height: 1.5;
padding-top: 25px;
padding-bottom: 25px;
}

.header-tel:focus {
    color: #404BBF;
}

.header-tel:hover{
    color: #404BBF;
}

/*------------hero-----------
.hero {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
align-items: center;
letter-spacing: 0.02em;
color: #FFFFFF;
width: 496px;
margin-left: auto;
margin-right: auto;
}

.button {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
        padding-top: 180px;
        padding-bottom: 180px;
        background-repeat: no-repeat;
        background-position: center;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}    
.button {
    font-family: inherit;
background: #4D5AE5;
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
min-width: 169px;
border: none;
border-radius: 4px;
padding: 16px 32px;


}

.but-ind {

    
}
.button:focus {

    background-color: #404BBF;

    color: #FFFFFF
    ;
    
}
.button:active {
    background-color: #404BBF;


}
.button:hover {
    background-color: #404BBF;
    color: #FFFFFF;

}

.feature { 
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
font-weight: 500;
margin-bottom: 8px;
align-items: center;


}
.feature-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
align-content: center;
margin-bottom: 8px;
}
/*
    .capital {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    }

*/

/*-------ourteam------
.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
   
 
} */

/*--------button-portfolio------*/

.button-portfolio {
    cursor: pointer;
   
  
    
}

.button-portfolio {
    font-family: 'Roboto';

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
font-family: inherit; 
    background-color: #F4F4FD;
    color: #4D5AE5;
    font-weight: 500;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
   





}

.spisoc {
margin-bottom: 72px;
}

.button-portfolio:hover {
 
    background: #404BBF;
    color: #FFFFFF
    ;
    border-color: transparent;
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio:focus {
    background-color: #404BBF;
    color: #FFFFFF
    ;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.fon-imag {
    background-color: #FFFFFF;
    width: 264px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    
    
/*

}
.logo-web {
   color: #4D5AE5; 
   font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase
}
/*
.doing{
    padding-bottom: 120px;
    
}


.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
/*

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    }
   /* 
    .footer-logo {
 font-family: 'Raleway', sans-serif;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #F4F4FD;
text-transform: uppercase;

    }
    */

.foot-web {
color: #4D5AE5;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;

}
.fot-wi {
    width: 264px;
height: 110px;
left: 156px;
top: 2380px;

}

.footer-text
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
margin-top: 16px;
width: 264px;

}
/*
.header-link {
    color: #2E2F42;
}

.header-link:hover {

    color: #404BBF;
}

.header-link:focus {

    color: #404BBF;
}


 .header-mail {
    color: #434455
    ;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
 }
 .header-tel {
    color: #434455
    ;
 }
/*
 .hero {
    color: #FFFFFF
    ;
    margin-bottom: 48px;
 }
 .section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
    flex-grow: 1;
   padding: 188px 0;
   text-align: center;
   background-image:linear-gradient(rgba(46, 47, 66, 0.7),
   rgba(46, 47, 66, 0.7)),
    url(../images/front/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;


/*
        text-align: center;
        padding-top: 180px;
        padding-bottom: 180px;
   
        background-position: center;
        background-size: cover;
   
    
 
}

 .adress {
    font-style: normal;
    margin-left: auto;
 }
*/
 .feature-li {
    background-color: #FFFFFF;
   
 }

 .all {
    text-decoration: none;
 }
.cover-war {
    position: relative;
    overflow: hidden;

}
 
 .cover-text {
    position: absolute;
    top: 0;
    padding: 40px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    transition: 300ms linear;
}

.feature-li:hover  .cover-text {
     transform: translateY(0%);
}



 .header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
    
   
 }
/*
 .header-list {
    display: flex; 
    gap: 40px;
    display: block;
   
 }

*/
/*
 .adress-flex {
    display: flex;
    display: block;
   
    gap: 40px;

*/
 }
 .container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  
 }

 .div-header-container {
    display: flex;
    align-items: center;
 }

 .header-logo {
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
 }

/*
 .sectionone {
    display: flex;
    gap: 24px;
 }
*/

 .list {
    display: flex;
    
 }

 .gap-24 {
    gap: 24px;
 }

 .our-team {
    align-items: center;
 

 }

 
.footer-logo{
    padding-top: 0px;
    padding-bottom: 0;
}

.but-portfolio {
    gap: 24px;
    justify-content: center; 
   
  
}

.blank {
    flex-wrap: wrap;
    gap: 48px 24px;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}
.li-one {
    width: 264px;
}
.strategy {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-div {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
 text-align: center;
}

.cardss {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
border: 1px solid #E7E9FC;
border-top: none;
}

.li-fotosi {
    width: 360px;

   
}

.sec-portfo {
    padding-top: 96px;
    padding-bottom: 120px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    }"
    
/*
    .social-list {
        display: flex;
        justify-content: center;
        
        
    } 

    .gap-al {
        gap: 24px;
    }

    
    .social-item {
        width: 40px;
        height: 40px;
        
        
    } 
    .social-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #4D5AE5;
    }
   
    .bord-soc-icon {
        fill: chartreuse;
    }

    



    .social-link:is(:hover, :focus) {
        background-color: #404BBF;
    }


     TEST 

    .test-h2{
        justify-content: center;
       
        display: flex;
        margin-bottom: 72px;
        font-family: 'Roboto';
font-style: normal;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
    }

    
.test {
    padding-top: 130px;
    padding-bottom: 120px;
   
}
    .test-list {
        display: flex;
        gap: 24px;
    }

    .test-item {
        width: 168px;
        height: 88px;
       
    }
    .test-link {
        width: 100%;
        height: 100%;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #8E8F99;
    }

.test-link:hover,
.test-link:focus {
    border-color: #404BBF;
    color: #404BBF;

    }

   .test-icon {
    fill: currentColor ;
   }

    .social-div {
        margin-left: 120px;
       
       
    }
    
.div-footer {
    display: flex;
} 
    .foot-soc-text {
        color: #FFFFFF;
     
    }


    .foot-ul {
        display: flex;
        gap: 16px;
        margin-top: 16px;
        list-style: none;
        
    }
    
    .foot-li {
        width: 40px;
        height: 40px;

     
        justify-content: center;
        
    }
    .foot-a {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.1);
    } */
    .foot-svg {
    }

    
    .strat-fon {
        width: 264px;
        height: 112px;
        background-color:#F4F4FD;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    margin-bottom: 8px;

      
    }

    .foot-a:is(:hover, :focus) {
        background-color: #31D0AA;
    
 
 
    }


 
 
    
    .all:is(:hover, :focus) {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
        
    }

    .backdrob {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
    }

    .modal {
        width: 408px;
        min-height: 576px;
        background-color: #FCFCFC;
        border: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .backdrob.is-hidden{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .modal-button {
        width: 24px;
        height: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #2f3ec4;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 0;
    } 