:root {
    --primary-text-color: #2E2F42;
    --background-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --l-gra: linear-gradient(rgba(46, 47, 66, 0.7)); 
}

/*---------fonts------*/

@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
}
@media screen and (min-width: 768px)
{
    

}
 /*---------fonts------*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    
}


/*---------text no point-----*/
.link {
    text-decoration: none; 
    display: block;
 }

 /*---------container -----*/
 

/*-----------header------------*/

