


   
 root {
    --primary-text-color: #2E2F42;
    --background-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --l-gra: linear-gradient(rgba(46, 47, 66, 0.7)); 
}
/*---------fonts------*/

    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: var(--primary-text-color);
        background-color: var(--primary-bg-color);
        
}

@media  screen and (min-width: 780px) {



.container {
    
    max-width: 720px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
   
  }
/* - mobil effect */
root {
--primary-text-color: #2E2F42;
--background-color: #FFFFFF;
--primary-bg-color: #FFFFFF;
--l-gra: linear-gradient(rgba(46, 47, 66, 0.7)); 
}
/*---------fonts------*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    
}
/*---------text no point-----*/
.link {
text-decoration: none; 
display: block;
}
.header-navigation {
display: flex;
justify-content: center;
align-items: center;
}
.list {
 list-style: none;
}
/*-----------header------------*/
.header {
background-color: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-item{
display: flex;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: linear;
}
.adress{
    display: flex;
}

.header-item:is(:hover, :focus) {
color: #404BBF;
}
.header-link:current {
color: #404BBF;
}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
position: relative;
padding-top: 24px;
padding-bottom: 24px;
}



.header-link.carent {
color:#404BBF ;
}
.carent::after {
content: '';
display: block;
width: 100%;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
position: absolute;
left: 0;
bottom: 0;
transition: transform 250ms;

}

.carent:hover::after {
transform: scaleX(1);
opacity: 1;
}
/*
.test-icon{
transition-property: background-color, fill;
transition-duration: 300ms;
transition-timing-function: linear;
}

.test-icon :is(:hover, :focus) {
    background-color: #404BBF;
    fill:  #404BBF;;
}

*/

.header-mail { 
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: linear;

}

.header-mail:is(:hover, :focus) {
color: #404BBF;
}
.header-tel {
font-size: 16px;
line-height: 1.5;
padding-top: 25px;
padding-bottom: 25px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: linear;
}

.header-tel:is(:hover, :focus) {
color: #404BBF;
}

/*------------hero-----------*/
.hero {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
align-items: center;
letter-spacing: 0.02em;
color: #FFFFFF;
width: 496px;
margin-left: auto;
margin-right: auto;
}

.button {
cursor: pointer;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
font-weight: 500;
text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
    background-repeat: no-repeat;
    background-position: center;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}   

.button {
font-family: inherit;
background: #4D5AE5;
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
min-width: 169px;
border: none;
border-radius: 4px;
padding: 16px 32px;
transition-property: background-color, fill;
transition-duration: 250ms;
transition-timing-function: linear;
}

.button:is(:hover, :focus) {

background-color: #404BBF;
color: #FFFFFF;
}
.button:active {
background-color: #404BBF;
}
.feature { 
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
font-weight: 500;
margin-bottom: 8px;
align-items: center;


}
.feature-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
;

align-content: center;
margin-bottom: 8px;
}

.capital {
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 72px;
}


/*-------ourteam------*/
.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;


}

/*--------button-portfolio------*/

.button-portfolio {
cursor: pointer;
}

.button-portfolio {
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
font-family: inherit; 
background-color: #F4F4FD;
color: #4D5AE5;
font-weight: 500;
padding: 12px 24px;
border: 1px solid #E7E9FC;
border-radius: 4px;
transition-property: background,color, border-color, background-color, box-shadow,  border-radius;
transition-duration: 300ms;

}

.spisoc {
margin-bottom: 72px;
}

.button-portfolio:hover {

background: #404BBF;
color: #FFFFFF
;
border-color: transparent;
border-radius: 4px;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio:focus {
     background-color: #404BBF;
     color: #FFFFFF ;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.fon-imag {
background-color: #FFFFFF;
width: 264px;

box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.logo-web {
color: #4D5AE5; 
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase
}
.doing{
padding-bottom: 120px;
}
.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33; 
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #F4F4FD;
text-transform: uppercase;
}
.foot-web {
color: #4D5AE5;
}
.footer {
background-color: #2E2F42;
padding: 100px 0;
}
.fot-wi {
width: 264px;
height: 110px;
left: 156px;
top: 2380px;
}
.footer-text
{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
margin-top: 16px;
width: 264px;
}
.header-link {
color: #2E2F42;
}
.header-link:hover {
color: #404BBF;
}
.header-link:focus {
color: #404BBF;
}
.header-mail {
color: #434455
;
padding-top: 24px;
padding-bottom: 24px;
display: block;
}
.header-tel {
color: #434455
;
}

.hero {
color: #FFFFFF
;
margin-bottom: 48px;
}
.section {
max-width: 1440px;
margin-left: auto;
margin-right: auto;
flex-grow: 1;
padding: 188px 0;
text-align: center;
background-image:linear-gradient(rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)),
url(../images/front/hometablet.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.adress {
font-style: normal;
margin-left: auto;
}

.feature-li {
background-color: #FFFFFF;
box-shadow: 2px solid #404BBF;
}
.feature-li:hover{
 box-shadow: 1px 0px 2px rgba(46, 47, 66, 0.08);
 border-radius: 1px ;
 box-shadow: 0px, 1px
 rgba(46, 47, 66, 0.16);
}
.all {
text-decoration: none;
}
.cover-war {
position: relative;
overflow: hidden;
}

.cover-text {
position: absolute;
top: 0;
padding: 40px;
line-height: 1.5;
font-size: 16px;
font-weight: 400;
color: #FFFFFF;
background-color: #4D5AE5;
height: 100%;
transform: translateY(100%);
transition: 300ms linear;
}

.feature-li:hover  .cover-text {
 transform: translateY(0%);
}
.header-navigation {
display: flex;
align-items: center;
margin-right: auto;
 }

.header-list {
display: flex; 
gap: 40px;
display: block;
}
.adress-flex {
display: flex;
display: block; 
gap: 40px;
}


.div-header-container {
display: flex;
align-items: center;
}

.header-logo {
margin-right: 76px;
padding-top: 24px;
padding-bottom: 24px;
display: block;
}

.sectionone {
display: flex;
gap: 24px;
}

.list {
display: flex;
}
.gap-24 {
gap: 24px;
}
.our-team {
align-items: center;
}
.footer-logo{
padding-top: 0px;
padding-bottom: 0;
}

.but-portfolio {
gap: 24px;
justify-content: center; 
}
.blank {
flex-wrap: wrap;
gap: 48px 10px;
margin: 0;
padding: 0;
}
* {
margin: 0;
padding: 0;
}
.li-one {
width: 264px;
}
.strategy {
padding-top: 120px;
padding-bottom: 120px;
}

.team-div {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
text-align: center;
}

.cardss {
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
padding-right: 16px;
border: 1px solid #E7E9FC;
border-top: none;
}

.li-fotosi {
width: 360px;

}

.sec-portfo {
padding-top: 96px;
padding-bottom: 120px;
}
img {
display: block;
max-width: 100%;
height: auto;
}
.social-list {
    display: flex;
    justify-content: center;   
} 
.gap-al {
    gap: 24px;
}
.list {
}
.social-item {
    width: 40px;
    height: 40px;    
} 
/*       ZADACHA */
.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transform: background-color;
    transition: 300ms linear;
}

.social-link:is(:hover, :focus) {
    background-color: #404BBF;
}
/*
.foot-a{
    transform: background-color;
    transition: 250ms linear;

}

.foot-a:is(:hover, :focus) {
    background-color: #31D0AA;

*/
/* TEST */
.test-h2{
    justify-content: center;
   
    display: flex;
    margin-bottom: 72px;
    font-family: 'Roboto';
font-style: normal;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}
.test {
padding-top: 130px;
padding-bottom: 120px;

}
.test-list {
    display: flex;
    gap: 24px;
}
.test-item {
    width: 168px;
    height: 88px;
}
.test-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test-link:is(:hover, :focus) {
border-color: #404BBF;
}
.test-link:hover .test-icon{
fill:  #404BBF;
}
.test-icon:is(:hover, :focus) {
fill: #404BBF;
}
.test-icon {
    fill: #8E8F99;
}
.social-div {
    margin-left: 120px;  
}
.div-footer {
display: flex;
}
.foot-soc-text {
    color: #FFFFFF;    
}
.foot-ul {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    list-style: none;
    
}
.foot-li {
    width: 40px;
    height: 40px;

 
    justify-content: center;
    
}
.foot-a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
}

.strat-fon {
    width: 264px;
    height: 112px;
    background-color:#F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
margin-bottom: 8px;

}
.foot-a{
    transform: background-color;
    transition: 250ms linear;
}

.foot-a:is(:hover, :focus) {
    background-color: #31D0AA;
}
.test-icon{
transition-property: background-color, fill;
transition-duration: 300ms;
transition-timing-function: linear;
}
.test-icon :is(:hover, :focus) {
    background-color: #404BBF;
    fill:  #404BBF;;
}
.all:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);   
}
.backdrob {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
}

.backdrob.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
}

/* modal */

.modal-close-icon{
position: absolute; 

}
.use-close{

fill: #070707;
}
.use-close:hover{
fill: #fafafa;

}
.modal-bytton:hover .use-close{
fill:  #f3f3f9;
}
.modal-bytton{
cursor: pointer;
position: absolute;
top: 24px;
right: 24px;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
width: 24px;
height: 24px;
border-radius: 50%;
justify-content: center;
align-items: center;
display: flex;
padding: 0;

transition-duration: 350ms;
transition-timing-function: linear;
}
.modal-bytton:hover,
.modal-bytton:focus{
background-color: #404BBF;
color: #FFFFFF;
}
.but-modal-close{
position: absolute;
cursor: pointer;
width: 24px;
height: 24px;
border-radius: 13px;
}
.modal {
    width: 408px;
    background-color: #FCFCFC;
    border: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 72px 24px 24px;
    transition: transform 0.9s ease; /* Добавляем transition для transform */

        
}

.backdrob{
    left: 0;
    transition-property: opacity, visibility;;
    transition-duration: 350ms;
    transition-timing-function: linear;
}

.backdrob{
visibility: visible;
opacity: 1;
}

.modal-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0;
} 


.container-madal{
    padding-left: 25px;
  padding-right: 25px;
}
.modal-button {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #E7E9FC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  margin-top: 24px;
} 
/*  new */
.order-input{
padding-left: 50px;
height: 25px;
width: 100%;
border-color:  rgba(33, 33, 33, 0.2);
border-radius: 4px;
color: #FCFCFC;

transition-duration: 300ms;
transition-timing-function: linear;
outline: none;
}

.order-input:focus{
border-color: #4D5AE5;

}
.order-input:focus+.modal-icon{fill: #4D5AE5;}

.order-input-send {
background-color: #FCFCFC;
padding-top: 8px;
padding-left: 16px;
resize: none;
margin-top: 4px;
width: 360px;
height: 120px;
width: 100%;
border-color: rgba(33, 33, 33, 0.2);
border-radius: 4px;
}

.modal-icon{
position: absolute; 
left: 20px;

transition-duration: 300ms;
transition-timing-function: linear;


}
.label-name{
margin-bottom: 8px;
display: block;
transition-duration: 300ms;
transition-timing-function: linear;
}
.span-name{

color: #8E8F99;
margin-top: 4px;
font-size: 12px;
font-family: Roboto;
line-height: 114%;  
}

.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
white-space: nowrap; /* 1 */
}

.accept-lab{
color: #757575 ;
font-size: 12px;
display: flex;
gap: 8px;

}
.accepy-span {
margin-left: 8px;
border-radius: 0px
var(--background-color);
}
.accept-lab::before{
content: '';
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid 
#2E2F42;
display: block; 
margin-bottom: 5px;

}

.modal-check:checked + .accept-lab::before{
background-color: #4D5AE5;
border: none ;
background-image: url(../Vector-galochka.svg);
background-repeat: no-repeat;
background-position: center;
}

.modal-h{
font-weight:500 ;  
font-size: 16px;
line-height: 1.5;
text-align: center;
margin-bottom: 16px;
}
.a-policy {
color: #4D5AE5
;
}
.send {

font-family: inherit;
background: #4D5AE5;
font-family: 'Roboto';
font-size: 16px;
line-height: 1.5;
min-width: 169px;
border: none;
border-radius: 4px;
padding: 16px 32px;
color: #FFFFFF;
box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
margin-top: 24px;
cursor: pointer;
font-weight: 500;
margin-left: 25%;

}

.input-wrap {
margin-top: 4px;
}

.modal-textarea-text {
font-size: 12px;
color: #8e9991
;
}

.order-input-send{
font-size: 12px;
}
.modal-icon {
margin-top: 13px;
margin-left: 16px; 
}
.order-input {
height: 40px;

}
.div-textarea {
margin-bottom: 16px;
}

/* Subscribe */
.div-sub{
margin-left: auto;
}
.h2-subscribe {
color: #FFFFFF;

font-size: 16px;

margin-bottom: 16px;
}  
.onlin-subsc {
display: flex;
}
.input-subscribe {
width: 264px;
height: 40px;
color: rgba(255, 255, 255, 0.3);
background-color: #2E2F42;
border-radius: 4px ;
border-color: rgba(255, 255, 255, 0.3) ;
padding-left: 16px;

}
.but-subscribe{
border: none;

cursor: pointer;
background-color: #4D5AE5;
width: 165px;
height: 40px;
padding: 8px ;
margin-left: 24px;
border-radius: 4px;
display: flex;
gap: 16px;
color: #FFFFFF;
border: none;
font-style: Button Text;
font-style: Regular;
font-weight: 500;
}

.svg-subscribe{
position: absolute;

}

.use-svg-modal{
width: 12px;
height: 12px;
}
.modal-icon{
width: 12px; 
height: 12px;
}
/* checkbox  */
.container-mob {
    display: none;
}
.svg-menu{
    display: none;
}


/* portfolio */

.ul-but-portfolio{
  justify-content: center;
    gap: 24px;
}
.portfolio-div-but{
    display: flex;
    gap: 24px;
}
.blank{
    justify-content: center;
}
 /* node whis desctop */
.strat-fon{
    display: none;
}

.list.sectionone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.li-one {
  width: 40%;
  
}

.doing{
display: none;
}
 .our-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 } 

 .test-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }
  .div-footer{
    display: flex;
    flex-wrap: wrap;
  
    
  }
  .div-sub{
    margin-left: 0  ;
    margin-top: 72px;
    

  }

  

    .adress-flex{display: block;}

    .header-mail {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .header-tel{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .adress-flex{
        margin-top: 24px;
        margin-bottom: 10px;
    }
    .blank{
    
      
    }
    .feature-li{
        width: 356px;
        height: 420px;
    }
    .div-footer{
        padding-left: 108px;
    }
    .but-subscribe{
        justify-content: center;
        padding-top: 8px;
    }
    .button-portfolio:hover{
        background-color: #404BBF;

    }
    .button-portfolio:focus{
        background-color: #404BBF;

    }
    .social-list{
    margin-top: 8px;
}
.feature-li{
    height: auto;
}
.feature-port-n{
    
    text-align: justify;
     font-family: Roboto;
     font-weight: 500;
     font-size: 20px;
 }
 .feature-text-port{
    text-align: left;
     text-align: justify;
     font-family: Roboto;
     font-weight: 400;
     font-size: 16px;
}
.sec-portfo{
    padding-top: 48px;
}
.input-subscribe{
    margin-bottom: 0;
}
.foot-soc-text{
    text-align: left;
}
.social-div{
    margin-left: 24px;
}
.ul-but-portfolio{
    padding: 0;
}

.blank {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .feature-li {
    flex-basis: 48%; /* Adjust this value to control the width of each column */
    margin-bottom: 20px; /* Add margin between items */
  }
}